---
layout: compress
---

<!doctype html>


{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        {% include topbar.html lang=lang %}

        <div class="row flex-grow-1">
          <main aria-label="Main Content" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% if layout.refactor or layout.layout == 'default' %}
              {% include refactor-content.html content=content lang=lang %}
            {% else %}
              {{ content }}
            {% endif %}
          </main>

          <!-- panel -->
          <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 mb-5 text-muted">
            <div class="access">
              {% include_cached update-list.html lang=lang %}
              {% include_cached trending-tags.html lang=lang %}
            </div>

            {% for _include in layout.panel_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}
          </aside>
        </div>

        <div class="row">
          <!-- tail -->
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% for _include in layout.tail_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    {% if site.backgroud_animation %}
    {% include animated-background.html %}
    {% endif %}

    <!-- JavaScripts -->
    {% include js-selector.html lang=lang %}

    {% include_cached search-loader.html lang=lang %}


    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var scene = new THREE.Scene();
        scene.rotation.z += 0.5;
        var container = document.getElementById('visualization');
        var camera = new THREE.PerspectiveCamera(60, container.clientWidth / container.clientHeight, 0.1, 1000);
        
        var renderer = new THREE.WebGLRenderer({ alpha: true });
        renderer.setSize(container.clientWidth, container.clientHeight);
        renderer.setClearColor(0x000000, 0); 
        container.appendChild(renderer.domElement);
  
        window.addEventListener('resize', function () {
          var width = container.clientWidth;
          var height = container.clientHeight;
          renderer.setSize(width, height);
          camera.aspect = width / height;
          camera.updateProjectionMatrix();
        });
  
        var colors = [
          0x6ea8fe, // Light blue
          0x4d8efb, // Medium blue
          0x356ee9  // Dark blue
        ];
  
        var cylinders = [];
        var cylinderGeometry = new THREE.CylinderGeometry(2, 2, 1.3, 264, 5, false);
        
        for (var i = 0; i < 3; i++) {
          var material = new THREE.MeshPhongMaterial({ color: colors[i] });  
          var cylinder = new THREE.Mesh(cylinderGeometry, material);
          cylinder.position.y = i * 1.5; 
          scene.add(cylinder);
          cylinders.push(cylinder);
        }
  
        var ambientLight = new THREE.AmbientLight(0xffffff, 0.7); // Soft ambient light
        scene.add(ambientLight);
  
        var directionalLight = new THREE.DirectionalLight(0xffffff, 0.5); // Directional light for shadows
        directionalLight.position.set(5, 5, 5);
        scene.add(directionalLight);
  
        camera.position.set(0, 2, 8); 
  
        var animate = function () {
          requestAnimationFrame(animate);
  
          scene.rotation.y += 0.003;
  
          renderer.render(scene, camera);
        };
  
        animate();
      });
    </script>


  </body>
</html>